node_modules/
.next/
out/
dist/
.env*
.DS_Store
npm-debug.log*
yarn-*.log*
pnpm-debug.log*


#Ignore vscode AI rules
.github\instructions\codacy.instructions.md

.vercel

scripts/firebase-service-account.json
